<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="//cdn.dtwave.com/public/ico/dtwave.ico" type="image/x-icon">
    <title>低版本浏览器提示</title>
    <link href="//cdn.dtwave.com/oner-common-page/1.0.0/outdated-browser.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="browserVersion">
            <h1>Outdated Browser</h1>
            <p>为了更佳的浏览体验，将您的浏览器保持最新。在这里您可以获得最新的版本。</p>
        </div>
    </header>
    <section class="c_browsers">
        <div id="chrome" class="browser">
            <div class="center">
                <img class="img-center" src="//cdn.dtwave.com/oner-common-page/img/chrome.png" />
                <h2 class="title-center">GOOGLE CHROME</h2>
                <a class="download" href="http://www.google.cn/chrome/browser/desktop/index.html" target="_blank" class="browserlink" data-track="Google Chrome">下载</a>
            </div>
        </div>
        <div id="firefox" class="browser">
            <div class="center">
                <img class="img-center" src="//cdn.dtwave.com/oner-common-page/img/firefox.png" />
                <h2 class="title-center">MOZILLA FIREFOX</h2>
                <a class="download" href="http://www.mozilla.org/firefox/new/" target="_blank" class="browserlink" data-track="Mozilla Firefox">下载</a>
            </div>
        </div>
        <div id="sogou" class="browser">
            <div class="center">
                <img class="img-center" src="//cdn.dtwave.com/oner-common-page/img/sogou.png" />
                <h2 class="title-center">SOGOU</h2>
                <a class="download" href="http://ie.sogou.com/" target="_blank" class="browserlink" data-track="sogou">下载</a>
            </div>
        </div>
        <div id="ie360" class="browser">
            <div class="center">
                <img class="img-center" src="//cdn.dtwave.com/oner-common-page/img/ie360.png"" />
                <h2 class="title-center">360</h2>
                <a class="download" href="http://se.360.cn/" target="_blank" class="browserlink" data-track="360">下载</a>
            </div>
        </div>
    </section>
</body>
</html>
